<!DOCTYPE html> 
<html> 
<head> 
    <meta name="viewport" content="width=device-width, initialscale=1,  shrink-to-fit=no">
    <link href="assets/css/miestilo.css" rel="stylesheet" >
<title>Ejemplo 1</title> 
</head> 
<body> 

<nav class="menu">
    <ul>
        <li><a href="//www.google.com.ar">Inicio</a></li>
        <li><a href="">Sobre nosotros</a></li>
        <li><a href="">Contacto</a></li>
    </ul>
</nav>
<div class="titulo">
<h1>Bienvenidos a Taller de Programación I</h1> 
</div>

    <div class="parrafo">
<p>Hoy sólo práctico de configuración</p> 
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta incidunt quo nostrum laborum culpa atque earum magni exercitationem, praesentium autem ea nihil, voluptas asperiores numquam architecto, sit mollitia consequatur minima.</p>
</div>

<footer></footer>

</body> 
</html> 